.jumbotron {
      height: 440px;
      color: #FFFFFF;
      padding: 240px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
}

.disabled {
      pointer-events: none;
}

.container .jumbotron, .container-fluid .jumbotron {
      padding-right: 0px;
      padding-left: 0px;
      border-radius: 0px;
}

.jumbotronBackground {
      /* background: linear-gradient( rgba(165, 55, 253, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1.0) ), url('../../images/Large/Advent in Church.jpg'); */
      height: 400px;
      background-size: cover;
      background-position: top;
      padding: 280px 0px 0px 0px;
      position: relative;
}

.blogTitle {
      padding-right: 60px;
      padding-left: 50px;
      position: absolute;
      bottom: 40px;
}

h1.blogTitleHeader {
      font-family: 'Vollkorn SC', serif;
      margin: 0px 0px 10px -2px;
      font-size: 50px;
      line-height: 34px;
}

p.blogTitleTagline {
      font-size: 20px;
      font-family: 'Merriweather', serif;
}

.blogListBody {
      background-size: cover;
      background-position: center;
      padding: 50px 50px 0px 50px;
      
}

.blogListBody > p.center {
      text-align: center;
}

.blogBody {
      padding: 0px 0px 20px 0px;
}

.blogBody > h2, .blogBody > h2:hover, .blogBody > a, .blogBody > a:hover, .blogBody > p, .blogBody > p:hover {
    text-decoration: none;
}

.blogBody > h2.blogName {
      font-family: 'Vollkorn SC', serif;
      color: #D7B546;
      margin: 0px 0px 0px -2px;
      font-size: 30px;
      line-height: 30px;
      font-style: normal;
}

.blogBody > p.blogTagline {
      font-size: 16px;
      margin: 0px 0px 2px 0px;
      font-family: 'Merriweather', serif;
      color: #333333;
}

.blogBody > p.blogUpdatedDate {
      font-size: 14px;
      margin: 0px 0px 4px 0px;
      font-family: 'Merriweather', serif;
      color: #333333;
}

.blogBody > p.blogUpdatedDate > span.blogUpdatedOn {
      padding: 0px;
      margin: 0px;
      font-size: 14px;
      line-height: 10px;
      font-family: 'Merriweather', serif;
      color: #777777;
}

.row-left {
      padding-right: 10px;
      padding-left: 15px;
}

.row-right {
      padding-right: 15px;
      padding-left: 10px;
}

.btn {
      border: 2px solid #777777;
      border-radius: 0px;
      background-color: transparent;
      font-family: 'Merriweather', sans-serif;
      color: #777777;
      padding: 14px 28px;
      font-size: 14px;
      cursor: pointer;
}

.default {
      background-color: #E5CE85;
      border-color: #333333;
      color: #333333;
}

.default:hover, .btn:hover {
      background-color: #E5CE85;
      border-color: #333333;
      color: #333333;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
   background: #E5CE85;
   border-color: #333333;
   color: #333333;
}

@media (max-width: 991px) {
      .jumbotron {
            color: #FFFFFF;
            height: 400px;
            padding: 0px 20px 0px 20px;
            margin-bottom: 0px;
      }

      .jumbotronBackground {
            /* background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1.0) ), url('../images/Large/Simple Prayers.jpg'); */
            height: 400px;
            background-size: cover;
            background-position: center;
            position: relative;
      }

      .blogTitle {
            position: absolute;
            bottom: 34px;
      }

      .jumbotron h1 {
            font-family: 'Vollkorn SC', serif;
            margin-left: -2px;
            font-size: 40px;
            line-height: 30px;
      }

      .jumbotron p {
            font-size: 16px;
            padding-bottom: 0px;
            font-family: 'Merriweather', sans-serif;
      }

      .blogBody {
            padding: 0px 0px 20px 0px;
      }

      .blogBody > h2, .blogBody > h2:hover, .blogBody > a, .blogBody > a:hover, .blogBody > p, .blogBody > p:hover {
            text-decoration: none;
      }

      .blogBody > h2.blogName {
            font-family: 'Vollkorn SC', serif;
            color: #D7B546;
            margin: 20px 0px 0px -2px;
            font-size: 30px;
            line-height: 30px;
            font-style: normal;
      }

      .blogBody > p.blogTagline {
            font-size: 16px;
            margin: 0px 0px 2px 0px;
            font-family: 'Merriweather', serif;
            color: #333333;
      }

      .blogBody > p.blogUpdatedDate > span.blogUpdatedOn {
            font-size: 16px;
            margin: 0px 0px 4px 0px;
            font-family: 'Merriweather', serif;
            color: #333333;
      }

      .row-left {
            padding-right: 10px;
            padding-left: 15px;
      }

      .row-right {
            padding-right: 15px;
            padding-left: 10px;
      }

      .btn {
            border: 2px solid #333333;
            border-radius: 0px;
            background-color: #E5CE85;
            font-family: 'Merriweather', sans-serif;
            color: #333333;
            padding: 10px 28px;
            font-size: 12px;
            cursor: pointer;
      }

      .default {
            background-color: #E5CE85;
            border-color: #333333;
            color: #333333;
      }

      .default:hover, .btn:hover {
            background-color: #E5CE85;
            color: #333333;
            background-color: #333333;
      }

      .btn:focus,.btn:active {
         outline: none !important;
         box-shadow: none;
         background: #E5CE85;
         border-color: #333333;
         color: #333333;
      }
}

@media (max-width: 768px) {
      .jumbotron {
            color: #FFFFFF;
            height: 240px;
            padding: 190px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
      }

      .jumbotronBackground {
            /* background: linear-gradient( rgba(165, 55, 253, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1.0) ), url('../../images/Large/Advent in Church.jpg'); */
            height: 400px;
            background-size: cover;
            background-position: center;
            position: relative;
      }

      .container .jumbotron, .container-fluid .jumbotron {
            /* padding-right: 20px;
            padding-left: 20px; */
            margin: 0px 0px 40px 0px;
            border-radius: 0px;
      }

      .blogTitle {
            padding-right: 20px;
            padding-left: 20px;
            position: absolute;
            bottom: 20px;
      }

      .jumbotron h1 {
            font-family: 'Vollkorn SC', serif;
            margin: 0px 0px 6px -2px;
            font-size: 24px;
            line-height: 24px;
      }

      .jumbotron p {
            font-size: 14px;
            font-family: 'Merriweather', serif;
      }

      .blogListBody {
            padding: 1px 20px 0px 20px;
            margin: 0px;
      }

      .blogBody {
            padding: 0px 0px 12px 0px;
      }

      .blogBody > h2, .blogBody > h2:hover, .blogBody > a, .blogBody > a:hover, .blogBody > p, .blogBody > p:hover {
            text-decoration: none;
      }

      .blogBody > h2.blogName {
            font-family: 'Vollkorn SC', serif;
            color: #D7B546;
            margin: 0px 0px 0px -2px;
            font-size: 22px;
            line-height: 22px;
            font-style: normal;
      }

      .blogBody > p.blogTagline {
            font-size: 14px;
            line-height: 18px;
            margin: 0px 0px 5px 0px;
            font-family: 'Merriweather', serif;
            color: #333333;
      }

      .blogBody > p.blogUpdatedDate > span.blogUpdatedOn {
            font-size: 12px;
            margin: 0px 0px 0px 0px;
            font-family: 'Merriweather', serif;
            color: #333333;
      }

      .blogBody > p.blogUpdatedDate {
            font-size: 12px;
            line-height: 10px;
            padding: 0px 0px 0px 0px;
            font-family: 'Merriweather', serif;
            color: #777777;
      }

      .row-left {
            padding-right: 15px;
            padding-left: 15px;
      }

      .row-right {
            padding-right: 15px;
            padding-left: 15px;
      }

      .btn {
            border: 2px solid #333333;
            border-radius: 0px;
            background-color: #E5CE85;
            font-family: 'Merriweather', sans-serif;
            color: #333333;
            padding: 10px 28px;
            font-size: 12px;
            cursor: pointer;
            margin: 5px 0px 0px 0px;
      }

      .default {
            background-color: #E5CE85;
            border-color: #333333;
            color: #333333;
      }

      .default:hover, .btn:hover {
            background-color: #E5CE85;
            color: #333333;
      }

      .btn:focus,.btn:active {
         outline: none !important;
         box-shadow: none;
         background: #E5CE85;
         border-color: #333333;
         color: #333333;
      }
}

@media (max-width: 320px) {
      .jumbotron {
            color: #FFFFFF;
            height: 300px;
            padding: 180px 0px 0px 0px;
            margin: 0px 0px 10px 0px;
      }

      .jumbotronBackground {
            /* background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0) ), url('../images/Small/Simple Prayers.jpg'); */
            background-size: cover;
            background-position: center;
      }

      .documentsBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0) ), url('../images/Small/Documents.jpg');
            background-size: cover;
            background-position: center;
      }

      .letUsPrayBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0) ), url('../images/Small/Let Us Pray.jpg');
            background-size: cover;
            background-position: center;
      }

      .container .jumbotron, .container-fluid .jumbotron {
            padding-right: 10px;
            padding-left: 10px;
            border-radius: 0px;
      }

      .jumbotron h1 {
            font-family: 'Vollkorn SC', serif;
            padding: 0px 0px 0px 0px;
            margin-left: -2px;
            font-size: 24px;
            line-height: 24px;
      }

      .jumbotron p {
            font-size: 10px;
            padding-bottom: 0px;
            font-family: 'Montserrat', sans-serif;
      }

      .row-left {
            padding-right: 15px;
            padding-left: 15px;
      }

      .row-right {
            padding-right: 15px;
            padding-left: 15px;
      }

      .btn {
            border: 2px solid #333333;
            border-radius: 0px;
            background-color: #E5CE85;
            font-family: 'Merriweather', sans-serif;
            color: #333333;
            padding: 10px 18px;
            font-size: 12px;
            cursor: pointer;
            margin-bottom: 0px;
      }

      .default {
            background-color: #E5CE85;
            border-color: #333333;
            color: #333333;
      }

      .default:hover, .btn:hover {
            background-color: #E5CE85;
            color: #333333;
      }

      .btn:focus,.btn:active {
         outline: none !important;
         box-shadow: none;
         background: #E5CE85;
         border-color: #333333;
         color: #333333;
      }
}
