{% load static %}
{% block head %}
{% endblock %}
<div id="prayerDashboardColumn" class="prayerDashboardColumn">
      <a class="prayersCardLink" href="http://localhost:8000/prayers/essentialPrayers" target="#">
            <div id="essentialPrayersCard" class="prayersCard essentialPrayersCard">
                  <div id="essentialPrayersCardHeader" class="prayersCardHeader essentialPrayersCardHeader">
                        Essential Prayers
                  </div>
                  <div id="essentialPrayersCardSubHeader" class="prayersCardSubHeader essentialPrayersCardSubHeader">
                        Prayers that every Christian must know by-heart. These act as an anchor for the weary soul. When in doubt, and when you can't find words to say, let these
                        prayers inspire faith in you and guide you.
                  </div>
                  <div class="prayersCardGoFurther">
                        <i><b>Click to learn.</b></i>
                  </div>
            </div>
      </a>
      <a class="prayersCardLink" href="http://example.com" target="_blank">
            <div id="morningPrayersCard" class="prayersCard morningPrayersCard">
                  <div id="morningPrayersCardHeader" class="prayersCardHeader morningPrayersCardHeader">
                        Morning Prayers
                  </div>
                  <div id="morningPrayersCardSubHeader" class="prayersCardSubHeader morningPrayersCardSubHeader">
                        A collection of memorable prayers that will help you start the day by dedicating yourself to the Father, the Son, and the
                        Holy Spirit.
                  </div>
                  <div class="prayersCardGoFurther">
                        <i><b>Click to learn.</b></i>
                  </div>
            </div>
      </a>
      <a class="prayersCardLink" href="http://example.com" target="_blank">
            <div id="eveningPrayersCard" class="prayersCard eveningPrayersCard">
                  <div id="eveningPrayersCardHeader" class="prayersCardHeader eveningPrayersCardHeader">
                        Evening Prayers
                  </div>
                  <div id="morningPrayersCardSubHeader" class="prayersCardSubHeader morningPrayersCardSubHeader">
                        Prayers to close your day by examining your actions and surrendering your life to God. Prepare to rest your body and soul by
                        remembering all of God's graces and His mercy, and by thanking Him and praising Him for all that He has done for you.
                  </div>
                  <div class="prayersCardGoFurther">
                        <i><b>Click to learn.</b></i>
                  </div>
            </div>
      </a>
      <a class="prayersCardLink" href="http://example.com" target="_blank">
            <div id="jesusPrayersCard" class="prayersCard jesusPrayersCard">
                  <div id="jesusPrayersCardHeader" class="prayersCardHeader jesusPrayersCardHeader">
                        Prayers to Jesus
                  </div>
                  <div id="jesusPrayersCardSubHeader" class="prayersCardSubHeader jesusPrayersCardSubHeader">
                        Prayers to Jesus Christ, our Lord and Saviour, in whom alone there is salvation. No one can come to God the Father except through faith in His Son, Jesus.
                        Dedicate yourself to Christ, and ask Him to fill you with His Spirit.
                  </div>
                  <div class="prayersCardGoFurther">
                        <i><b>Click to learn.</b></i>
                  </div>
            </div>
      </a>
      <a class="prayersCardLink" href="http://example.com" target="_blank">
            <div id="marianPrayersCard" class="prayersCard marianPrayersCard">
                  <div id="marianPrayersCardHeader" class="prayersCardHeader marianPrayersCardHeader">
                        Marian Prayers
                  </div>
                  <div id="marianPrayersCardSubHeader" class="prayersCardSubHeader marianPrayersCardSubHeader">
                        Prayers asking for the intercession of the Blessed Virgin Mary, Mother of our Lord Jesus Christ. As the Queen of all
                        Christian Faithful, Mary draws all who ask for Her intercession before the throne of Her Son Jesus.
                  </div>
                  <div class="prayersCardGoFurther">
                        <i><b>Click to learn.</b></i>
                  </div>
            </div>
      </a>
      <a class="prayersCardLink" href="http://example.com" target="_blank">
            <div id="guardianAngelPrayersCard" class="prayersCard guardianAngelPrayersCard">
                  <div id="guardianAngelPrayersCardHeader" class="prayersCardHeader guardianAngelPrayersCardHeader">
                        Prayers to your Guardian Angel
                  </div>
                  <div id="guardianAngelPrayersCardSubHeader" class="prayersCardSubHeader guardianAngelPrayersCardSubHeader">
                        Ask your Guardian Angel to intercede for you before God, to guide you through the day, and to protect you in all you do.
                  </div>
                  <div class="prayersCardGoFurther">
                        <i><b>Click to learn.</b></i>
                  </div>
            </div>
      </a>
      <a class="prayersCardLink" href="http://example.com" target="_blank">
            <div id="beforeMassPrayersCard" class="prayersCard beforeMassPrayersCard">
                  <div id="beforeMassPrayersCardHeader" class="prayersCardHeader beforeMassPrayersCardHeader">
                        <span class="widescreen">Prayers before<br>Holy Mass</span>
                        <span class="mobile">Prayers before Holy Mass</span>
                  </div>
                  <div id="beforeMassPrayersCardSubHeader" class="prayersCardSubHeader beforeMassPrayersCardSubHeader">
                        Prepare yourself to hear the Word of God and to receive His Body and Blood in the Eucharist. Holy Mass is the highest form of worship, and these prayers will help
                        you compose yourself for an encounter with the Lord.
                  </div>
                  <div class="prayersCardGoFurther">
                        <i><b>Click to learn.</b></i>
                  </div>
            </div>
      </a>
      <a class="prayersCardLink" href="http://example.com" target="_blank">
            <div id="afterMassPrayersCard" class="prayersCard afterMassPrayersCard">
                  <div id="afterMassPrayersCardHeader" class="prayersCardHeader afterMassPrayersCardHeader">
                        <span class="widescreen">Prayers after<br>Holy Mass</span>
                        <span class="mobile">Prayers after Holy Mass</span>
                  </div>
                  <div id="afterMassPrayersCardSubHeader" class="prayersCardSubHeader afterMassPrayersCardSubHeader">
                        Thank the Lord for inviting you to Holy Mass and sharing His Body and Blood with you as life-giving food and drink. Ask Him to
                        remain with you through the day and to strengthen your soul against temptations of the flesh.
                  </div>
                  <div class="prayersCardGoFurther">
                        <i><b>Click to learn.</b></i>
                  </div>
            </div>
      </a>
      <a class="prayersCardLink" href="http://example.com" target="_blank">
            <div id="priestsReligiousPrayersCard" class="prayersCard priestsReligiousPrayersCard">
                  <div id="priestsReligiousPrayersCardHeader" class="prayersCardHeader priestsReligiousPrayersCardHeader">
                        Prayers for Priests and Religious
                  </div>
                  <div id="priestsReligiousPrayersCardSubHeader" class="prayersCardSubHeader priestsReligiousPrayersCardSubHeader">
                        Pray for your parish priests and the religious brothers and sisters who administer to the poor and destitute around the world. They march on the frontlines of
                        the spiritual war raging around the world.
                  </div>
                  <div class="prayersCardGoFurther">
                        <i><b>Click to learn.</b></i>
                  </div>
            </div>
      </a>
      <a class="prayersCardLink" href="http://example.com" target="_blank">
            <div id="beforeMassPrayersCard" class="prayersCard beforeMassPrayersCard">
                  <div id="beforeMassPrayersCardHeader" class="prayersCardHeader beforeMassPrayersCardHeader">
                        The Holy Rosary
                  </div>
                  <div id="beforeMassPrayersCardSubHeader" class="prayersCardSubHeader beforeMassPrayersCardSubHeader">
                        The Holy Rosary is one of the most powerful Christian devotions. The the prayers of the Rosary, Christians ask the Blessed Virgin Mary for her powerful Intercession
                        before the throne of her Son our Lord Jesus Christ.
                  </div>
                  <div class="prayersCardGoFurther">
                        <i><b>Click to learn.</b></i>
                  </div>
            </div>
      </a>
      <a class="prayersCardLink" href="http://example.com" target="_blank">
            <div id="sacredHeartPrayersCard" class="prayersCard sacredHeartPrayersCard">
                  <div id="sacredHeartPrayersCardHeader" class="prayersCardHeader sacredHeartPrayersCardHeader">
                        Prayers to the Sacred Heart of Jesus
                  </div>
                  <div id="sacredHeartPrayersCardSubHeader" class="prayersCardSubHeader sacredHeartPrayersCardSubHeader">
                        Made popular by St. Margaret Mary Alacoque, devotion to the Sacred Heart of Jesus brings us closer to God, our Lord Jesus Christ. Through these prayers Christians find the grace to grow in love of God and unite their own wills to the Holy
                        and Sacred Will of Jesus Christ.
                  </div>
                  <div class="prayersCardGoFurther">
                        <i><b>Click to learn.</b></i>
                  </div>
            </div>
      </a>
      <a class="prayersCardLink" href="http://example.com" target="_blank">
            <div id="divineMercyPrayersCard" class="prayersCard divineMercyPrayersCard">
                  <div id="divineMercyPrayersCardHeader" class="prayersCardHeader divineMercyPrayersCardHeader">
                        Divine Mercy Prayers
                  </div>
                  <div id="divineMercyPrayersCardSubHeader" class="prayersCardSubHeader divineMercyPrayersCardSubHeader">
                        Revealed to St. Maria Faustina Kowalska through mystical episodes with Jesus Christ, these prayers draw faithful Christians to repentance, holiness, and love of God through the Divine Mercy
                        who is Christ Himself.
                  </div>
                  <div class="prayersCardGoFurther">
                        <i><b>Click to learn.</b></i>
                  </div>
            </div>
      </a>
</div>
