.jumbotron {
      height: 500px;
      color: #FFFFFF;
      margin: 0px 0px 20px 0px;
}

.jumbotronBackground {
      /* background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0) ), url('../images/Large/Vatican 002.jpg'); */
      background-size: cover;
      background-position: center;
      padding: 0px 0px 0px 0px;
      position: relative;
}

.documentsBackground {
      background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1.0) ), url('../images/Large/Documents.jpg');
      background-size: cover;
      background-position: center;
}

.letUsPrayBackground {
      background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1.0) ), url('../images/Large/Let Us Pray.jpg');
      background-size: cover;
      background-position: center;
      padding: 220px 0px 0px 0px;
}

.container .jumbotron, .container-fluid .jumbotron {
      padding-right: 0px;
      padding-left: 0px;
      border-radius: 0px;
}

.carouselForJumbotron {
      position: relative !important;
      width: 100%;
      height: 100%;
}

.carouselForJumbotron > .carouselInnerForJumbotron {
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1.0) ), url('../images/Extra Large/Season of Advent.jpg');
      background-size: cover;
      background-position: bottom;
      position: absolute !important;
      width: inherit;
      height: inherit;
}

.carouselInnerForJumbotron > .liturgyForTheDay {
      padding-left: 50px;
      padding-right: 60px;
      position: absolute !important;
      width: inherit;
      top: auto !important;
      bottom: 80px !important;
}

.liturgyForTheDay > p.liturgyForTheDayForm {
      margin: 0px 0px 12px 0px;
      font-size: 20px;
      line-height: 24px;
      font-family: 'Merriweather', serif;
}

.liturgyForTheDay > h1.liturgyForTheDayHeader {
      font-family: 'Vollkorn SC', serif;
      margin: 0px 0px 10px -2px;
      font-size: 50px;
      line-height: 34px;
}

.liturgyForTheDay > p.liturgyForTheDayWeek {
      font-size: 20px;
      font-family: 'Merriweather', serif;
}

.memorialForTheDay {
      padding-left: 50px;
      padding-right: 60px;
      position: absolute;
      bottom: 80px;
}

p.memorialForTheDayForm {
      margin: 0px 0px 10px 0px;
      color: #FFFFFF;
      font-size: 18px;
      font-family: 'Merriweather', serif;
}

h1.memorialForTheDayHeader {
      font-family: 'Vollkorn SC', serif;
      margin: 0px 0px 10px -2px;
      font-size: 36px;
      line-height: 36px;
}

p.memorialForTheDayWeek {
      color: #FFFFFF;
      font-size: 18px;
      font-family: 'Merriweather', serif;
}

.row-left {
      padding-right: 10px;
      padding-left: 15px;
}

.row-right {
      padding-right: 15px;
      padding-left: 10px;
}

.liturgyForTheDay > .btn {
      border: 2px solid #FFFFFF;
      border-radius: 0px;
      background-color: transparent;
      font-family: 'Merriweather', serif;
      color: #FFFFFF;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
}

.liturgyForTheDay > .default {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF;
}

.liturgyForTheDay > .default:hover {
      color: #FFFFFF;
      background-color: rgba(255,255,255,0.4);
}

.liturgyForTheDay > .btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
   background: #FFFFFF;
   border-color: #FFFFFF;
   color: #000000;
}

.memorialForTheDay > .btn {
      border: 2px solid #FFFFFF;
      border-radius: 0px;
      background-color: transparent;
      font-family: 'Merriweather', serif;
      color: #FFFFFF;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
}

.memorialForTheDay > .default {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF;
}

.memorialForTheDay > .default:hover {
      color: #FFFFFF;
      background-color: rgba(255,255,255,0.4);
}

.memorialForTheDay > .btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
   background: #FFFFFF;
   border-color: #FFFFFF;
   color: #000000;
}

@media (max-width: 991px) {
      .jumbotron {
            color: #FFFFFF;
            height: 350px;
            padding: 0px 20px 20px 20px;
            margin-bottom: 20px;
      }

      .jumbotronBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1.0) ), url('../images/Extra Large/Season of Advent.jpg');
            background-size: cover;
            background-position: center;
            position: relative;
      }

      .documentsBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0) ), url('../images/Large/Documents.jpg');
            background-size: cover;
            background-position: center;
            padding: 140px 0px 0px 0px;
      }

      .letUsPrayBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0) ), url('../images/Large/Let Us Pray.jpg');
            background-size: cover;
            background-position: center;
            padding: 140px 0px 0px 0px;
      }

      .carouselForJumbotron {
            position: relative !important;
            width: 100%;
            height: 100%;
      }

      .carouselForJumbotron > .carouselInnerForJumbotron {
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1.0) ), url('../images/Extra Large/Season of Advent.jpg');
            background-size: cover;
            background-position: bottom;
            position: absolute !important;
            width: inherit;
            height: inherit;
      }

      .carouselInnerForJumbotron > .liturgyForTheDay {
            padding-left: 30px;
            padding-right: 30px;
            position: absolute !important;
            width: inherit;
            top: auto !important;
            bottom: 60px !important;
      }

      .liturgyForTheDay > p.liturgyForTheDayForm {
            margin: 0px 0px 10px 0px;
            font-size: 18px;
            font-family: 'Merriweather', serif;
      }

      .liturgyForTheDay > h1.liturgyForTheDayHeader {
            font-family: 'Vollkorn SC', serif;
            margin: 0px 0px 10px -2px;
            font-size: 40px;
            line-height: 30px;
      }

      .liturgyForTheDay > p.liturgyForTheDayWeek {
            font-size: 18px;
            font-family: 'Merriweather', serif;
      }

      .memorialForTheDay {
            padding-left: 30px;
            padding-right: 40px;
            position: absolute;
            bottom: 80px;
      }

      p.memorialForTheDayForm {
            margin: 0px 0px 6px 0px;
            font-size: 14px;
            font-family: 'Merriweather', serif;
      }

      h1.memorialForTheDayHeader {
            font-family: 'Vollkorn SC', serif;
            margin: 0px 0px 6px -2px;
            font-size: 24px;
            line-height: 30px;
      }

      p.memorialForTheDayWeek {
            font-size: 14px;
            font-family: 'Merriweather', serif;
      }

      .carouselIndicators {
            bottom: 0px;
      }

      .row-left {
            padding-right: 10px;
            padding-left: 15px;
      }

      .row-right {
            padding-right: 15px;
            padding-left: 10px;
      }

      .liturgyForTheDay > .btn {
            border: 2px solid #FFFFFF;
            border-radius: 0px;
            background-color: transparent;
            font-family: 'Merriweather', serif;
            color: #FFFFFF;
            padding: 10px 28px;
            font-size: 14px;
            cursor: pointer;
      }

      .liturgyForTheDay > .default {
            background-color: transparent;
            border-color: #FFFFFF;
            color: #FFFFFF;
      }

      .liturgyForTheDay > .default:hover {
            color: #FFFFFF;
            background-color: rgba(255,255,255,0.4);
      }

      .liturgyForTheDay > .btn:focus,.btn:active {
         outline: none !important;
         box-shadow: none;
         background: #FFFFFF;
         border-color: #FFFFFF;
         color: #000000;
      }

      .memorialForTheDay > .btn {
            border: 2px solid #FFFFFF;
            border-radius: 0px;
            background-color: transparent;
            font-family: 'Merriweather', serif;
            color: #FFFFFFFFFFFF;
            padding: 10px 28px;
            font-size: 14px;
            cursor: pointer;
      }

      .memorialForTheDay > .default {
            background-color: transparent;
            border-color: #FFFFFFFFFFFF;
            color: #FFFFFFFFFFFF;
      }

      .memorialForTheDay > .default:hover {
            color: #FFFFFFFFFFFF;
            background-color: rgba(255,255,255,0.4);
      }

      .memorialForTheDay > .btn:focus,.btn:active {
         outline: none !important;
         box-shadow: none;
         background: #FFFFFF;
         border-color: #FFFFFF;
         color: #000000;
      }
}

@media (max-width: 768px) {
      .jumbotron {
            color: #FFFFFF;
            height: 350px;
            margin: 0px 0px 10px 0px;
      }

      .jumbotronBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0) ), url('../images/Small/Vatican 002.jpg');
            height: 400px;
            background-size: contain;
            background-position: right;
      }

      .documentsBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0) ), url('../images/Small/Documents.jpg');
            background-size: cover;
            background-position: center;
      }

      .letUsPrayBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0) ), url('../images/Small/Let Us Pray.jpg');
            background-size: cover;
            background-position: center;
      }

      .container .jumbotron, .container-fluid .jumbotron {
            padding-right: 0px;
            padding-left: 0px;
            border-radius: 0px;
      }

      .carouselForJumbotron {
            position: relative !important;
            width: 100%;
            height: 100%;
      }

      .carouselForJumbotron > .carouselInnerForJumbotron {
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1.0) ), url('../images/Extra Large/Season of Advent.jpg');
            background-size: cover;
            background-position: left;
            position: absolute !important;
            width: inherit;
            height: inherit;
      }

      .carouselInnerForJumbotron > .liturgyForTheDay {
            padding-left: 30px;
            padding-right: 40px;
            position: absolute !important;
            width: inherit;
            top: auto !important;
            bottom: 60px !important;
      }

      .liturgyForTheDay > p.liturgyForTheDayForm {
            margin: 0px 0px 6px 0px;
            font-size: 14px;
            font-family: 'Merriweather', serif;
      }

      .liturgyForTheDay > h1.liturgyForTheDayHeader {
            font-family: 'Vollkorn SC', serif;
            margin: 0px 0px 6px -2px;
            font-size: 24px;
            line-height: 24px;
      }

      .liturgyForTheDay > p.liturgyForTheDayWeek {
            font-size: 14px;
            font-family: 'Merriweather', serif;
      }

      .memorialForTheDay {
            padding-left: 30px;
            padding-right: 30px;
            position: absolute;
            bottom: 60px;
      }

      p.memorialForTheDayForm {
            margin: 0px 0px 6px 0px;
            font-size: 14px;
            font-family: 'Merriweather', serif;
      }

      h1.memorialForTheDayHeader {
            font-family: 'Vollkorn SC', serif;
            margin: 0px 0px 6px -2px;
            font-size: 24px;
            line-height: 30px;
      }

      p.memorialForTheDayWeek {
            font-size: 14px;
            font-family: 'Merriweather', serif;
      }

      .carouselIndicators {
            bottom: 0px;
      }

      .row-left {
            padding-right: 15px;
            padding-left: 15px;
      }

      .row-right {
            padding-right: 15px;
            padding-left: 15px;
      }

      .liturgyForTheDay > .btn {
            border: 2px solid #FFFFFF;
            border-radius: 0px;
            background-color: transparent;
            font-family: 'Merriweather', serif;
            color: #FFFFFF;
            padding: 10px 28px;
            font-size: 12px;
            cursor: pointer;
      }

      .liturgyForTheDay > .default {
            background-color: transparent;
            border-color: #FFFFFF;
            color: #FFFFFF;
      }

      .liturgyForTheDay > .default:hover {
            color: #FFFFFF;
            background-color: rgba(255,255,255,0.4);
      }

      .liturgyForTheDay > .btn:focus,.btn:active {
         outline: none !important;
         box-shadow: none;
         background: #FFFFFF;
         border-color: #FFFFFF;
         color: #000000;
      }

      .memorialForTheDay > .btn {
            border: 2px solid #FFFFFF;
            border-radius: 0px;
            background-color: transparent;
            font-family: 'Merriweather', serif;
            color: #FFFFFF;
            padding: 10px 28px;
            font-size: 12px;
            cursor: pointer;
      }

      .memorialForTheDay > .default {
            background-color: transparent;
            border-color: #FFFFFF;
            color: #FFFFFF;
      }

      .memorialForTheDay > .default:hover {
            color: #FFFFFF;
            background-color: rgba(255,255,255,0.4);
      }

      .memorialForTheDay > .btn:focus,.btn:active {
         outline: none !important;
         box-shadow: none;
         background: #FFFFFF;
         border-color: #FFFFFF;
         color: #000000;
      }
}

@media (max-width: 320px) {
      .jumbotron {
            color: #FFFFFF;
            height: 300px;
            padding: 130px 0px 0px 0px;
            margin: 0px 0px 10px 0px;
      }

      .jumbotronBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0) ), url('../images/Small/Vatican 002.jpg');
            background-size: cover;
            background-position: center;
      }

      .documentsBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0) ), url('../images/Small/Documents.jpg');
            background-size: cover;
            background-position: center;
      }

      .letUsPrayBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0) ), url('../images/Small/Let Us Pray.jpg');
            background-size: cover;
            background-position: center;
      }

      .container .jumbotron, .container-fluid .jumbotron {
            padding-right: 10px;
            padding-left: 10px;
            border-radius: 0px;
      }

      .jumbotron h1 {
            font-family: 'Vollkorn SC', serif;
            padding: 0px 0px 0px 0px;
            margin-left: -2px;
            font-size: 30px;
            line-height: 16px;
      }

      .jumbotron h2 {
            font-family: 'Vollkorn SC', serif;
            margin-left: -2px;
            font-size: 30px;
            line-height: 16px;
      }

      .jumbotron p {
            font-size: 10px;
            padding-bottom: 0px;
            font-family: 'Montserrat', sans-serif;
      }

      .row-left {
            padding-right: 15px;
            padding-left: 15px;
      }

      .row-right {
            padding-right: 15px;
            padding-left: 15px;
      }

      .btn {
            border: 2px solid #FFFFFF;
            border-radius: 0px;
            background-color: transparent;
            font-family: 'Montserrat', sans-serif;
            color: #FFFFFF;
            padding: 10px 18px;
            font-size: 12px;
            cursor: pointer;
      }

      .default {
            background-color: transparent;
            border-color: #FFFFFF;
            color: #FFFFFF;
      }

      .default:hover {
            color: #FFFFFF;
            background-color: rgba(255,255,255,0.2);
      }

      .btn:focus,.btn:active {
         outline: none !important;
         box-shadow: none;
         background: #FFFFFF;
         border-color: #FFFFFF;
         color: #000000;
      }
}
