html, body {
     height: 100vh;
}

@media (min-width: 800px) {
     .widescreen {
          display: block;
     }

     .mobile {
          display: none;
     }
}

@media (max-width: 799.99px) {
     .widescreen {
          display: none;
     }

     .mobile {
          display: block;
     }
}

@media (min-width: 767px) {
     .responsiveMobile {
          display: none;
     }
}

.navbar {
     background-color: #FFBF00;
     background: rgba(255, 191, 0, 0.7);
     -webkit-backdrop-filter: blur(5px);
     backdrop-filter: blur(5px);
     border-bottom-color: transparent;
}

.navbar-background {
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 998;
}

.navbar-close {
     color: #FFFFFF;
}

.navbar-brand {
     margin-top: 3px;
     font-family: 'Montserrat Alternates', sans-serif;
     letter-spacing: 1px;
     font-weight: 600;
     font-size: 20px;
     color: #FFFFFF;
}

.navbar-header {
     background-color: transparent;
}

.navbar-nav {
     background-color: transparent;
     padding-top: 5px;
     font-family: 'Exo', sans-serif;
     font-size: 18px;
     color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
     color: #FFFFFF;
     background-color: transparent
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
     color: #000000;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
     border-color: transparent;
     color: #FFBF00;
     background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
     color: #FFFFFF;
}

@media (min-width: 767px){
     .navbar-brand {
          font-family: 'Montserrat Alternates', sans-serif;
          font-weight: 700;
          font-size: 26px;
          color: #FFFFFF;
     }

     .brandUnderscore {
          font-family: 'Caveat Brush', cursive;
     }

     .dropdown a:hover {
          background-color: #FFFFFF
     }

     .dropdown:hover .dropdown-menu {
          color: #FFFFFF;
          display: block;
          border-color: transparent
     }

     .container {
          padding-left: 0px;
          padding-right: 0px;
     }
}

@media (max-width: 766.99px) {
     .navbar {
          overflow: scroll;
     }

     .navbar::-webkit-scrollbar-thumb {
          -webkit-border-radius: 10px;
          border-radius: 10px;
          background: #FFFFFF;
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
     }

     .navbar-brand {
          margin-top: 0px;
          font-size: 20px;
     }

     .brandUnderscore {
          font-family: 'Caveat Brush', cursive;
     }

     .navbar-inverse .navbar-nav > li > a {
          color: #FFFFFF;
          text-align: right;
          margin-right: 10px;
     }

     .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
          padding: 5px;
          color: #FFFFFF;
          background-color: #F76D50;
          background-color: transparent;
     }

     .nav > li > a {
          padding: 10px 20px;
     }

     .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
          background: #F76D50;
          border-color: transparent;
          background-color: rgba(0, 0, 0, .4);
          padding-bottom: 60px;
     }

     .navbar-inverse .navbar-toggle .icon-bar {
          background-color: #FFFFFF;
          color: #000000;
     }

     .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle {
          border-color: transparent;
          margin-right: 5px;
          color: #FFFFFF;
     }

     .navbar-close {
          padding: 0px;
          margin: -5px 5px -5px 0px;
     }

     .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
          min-height: 100vh;
          overflow: auto;
     }
}

@media (max-width: 384px) {
     .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle {
          border-color: transparent;
          margin-right: 5px;
          color: #FFFFFF
     }

     .brandUnderscore {
          font-family: 'Caveat Brush', cursive;
     }

     .navbar-header{
          padding-top: 5px;
          width: auto;
     }

     .nav{
          width: auto;
     }
}

@media (max-width: 360px) {
     .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle {
          border-color: transparent;
          margin-right: 5px;
          color: #FFFFFF
     }

     .brandUnderscore {
          font-family: 'Caveat Brush', cursive;
     }

     .navbar-header{
          width: auto;
     }

     .nav{
          width: auto;
     }
}

@media (max-width: 320px) {
     .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle {
          border-color: transparent;
          margin-right: 5px;
          color: #FFFFFF
     }

     .brandUnderscore {
          font-family: 'Caveat Brush', cursive;
     }

     .navbar-header{
          width: auto;
     }

     .nav{
          width: auto;
     }
}

@media (max-height: 320px) {
     .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
          background: #F76D50;
          border-color: transparent;
          background-color: rgba(0, 0, 0, .4);
          padding-bottom: 120px;
     }
}

@media (min-width: 800px) {
     .dropdown-menu {
          color: #FFFFFF;
          text-align: right;
          font-size: 18px;
     }
}

@media (max-width: 799.99px) {
     .dropdown-menu {
          height: auto;
          color: #FFFFFF;
          text-align: right;
          font-size: 16px;
          margin-right: 40px;
     }
}

@media (max-width: 480px) {
     .dropdown-menu {
          height: auto;
          color: #FFFFFF;
          text-align: right;
          font-size: 16px;
          margin-right: 40px;
     }
}

@media (max-width: 340px) {
     .dropdown-menu {
          height: auto;
          color: #FFFFFF;
          text-align: right;
          font-size: 16px;
          margin-right: 15px;
     }
}

@media (min-width: 860px) {
     .homePageHeader {
          padding: 100px 0px 0px 0px;
          font-family: 'Vollkorn SC', serif;
          font-size: 60px;
          text-align: center;
          color: #FFBF00;
          background-color: #FFFFFF;
     }

     .homePageSubHeader {
          padding: 0px 0px 0px 0px;
          font-family: 'Vollkorn SC', serif;
          font-size: 36px;
          line-height: 36px;
          text-align: center;
          color: #999999;
          background-color: #FFFFFF;
     }

     .homePageSubHeaderHindi {
          padding: 10px 0px 0px 0px;
          font-family: 'Sahitya', serif;
          font-size: 36px;
          line-height: 38px;
          font-weight: 500;
          text-align: center;
          color: #999999;
          background-color: #FFFFFF;
     }

     .homePageForm {
          max-width: 700px;
          margin: 0 auto;
          padding: 20px 20px 0px 20px;
     }

     .homePageFormRow {
          display: flex;
          text-align: center;
          box-shadow: 0 4px 8px -5px gray;
          border: darkgray solid 2px;
          border-radius: 10px;
     }

     .homePageSearchIcon {
          color: #FFBF00;
          height: auto;
          width: 50px;
          font-size: 28px;
          text-align: center;
          padding: 11px 0px 0px 10px;
          opacity: 0.7;
     }

     .homePageTextbox {
          height: 50px;
          border: transparent solid 0px;
          border-radius: 10px;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          line-height: 18px;
          box-shadow: 0 0px 0px 0px transparent;
          padding: 0px 20px 0px 10px;
     }

     .homePageTextbox:focus {
          height: 50px;
          border: transparent solid 0px;
          border-radius: 10px;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          line-height: 18px;
          box-shadow: 0 0px 0px 0px transparent;
          padding: 0px 20px 0px 10px;
     }

     .ui-widget.ui-widget-content {
          border: transparent solid 0px;
          border-radius: 10px;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          line-height: 24px;
          padding: 10px 0px 10px 0px;
     }

     #ui-id-1 {
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0px 20px 0px 0px;
     }
}

@media (max-width: 859.99px) {
     .homePageHeader {
          padding: 100px 0px 0px 0px;
          font-family: 'Vollkorn SC', serif;
          font-size: 50px;
          text-align: center;
          color: #FFBF00;
          background-color: #FFFFFF;
     }

     .homePageSubHeader {
          padding: 0px 0px 0px 0px;
          font-family: 'Vollkorn SC', serif;
          font-size: 32px;
          line-height: 32px;
          text-align: center;
          color: #999999;
          background-color: #FFFFFF;
     }

     .homePageSubHeaderHindi {
          padding: 0px 0px 0px 0px;
          font-family: 'Laila', serif;
          font-size: 32px;
          line-height: 32px;
          text-align: center;
          color: #999999;
          background-color: #FFFFFF;
     }

     .homePageForm {
          max-width: 700px;
          margin: 0 auto;
          padding: 20px 20px 0px 20px;
     }

     .homePageFormRow {
          display: flex;
          text-align: center;
          box-shadow: 0 4px 8px -5px gray;
          border: darkgray solid 2px;
          border-radius: 10px;
     }

     .homePageSearchIcon {
          color: #FFBF00;
          height: auto;
          width: 50px;
          font-size: 28px;
          text-align: center;
          padding: 11px 0px 0px 10px;
          opacity: 0.7;
     }

     .homePageTextbox {
          height: 50px;
          border: transparent solid 0px;
          border-radius: 10px;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          line-height: 18px;
          box-shadow: 0 0px 0px 0px transparent;
          padding: 0px 20px 0px 10px;
     }

     .homePageTextbox:focus {
          height: 50px;
          border: transparent solid 0px;
          border-radius: 15px;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          line-height: 18px;
          box-shadow: 0 0px 0px 0px transparent;
          padding: 0px 20px 0px 10px;
     }

     .ui-widget.ui-widget-content {
          border: transparent solid 0px;
          border-radius: 10px;
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          line-height: 24px;
          padding: 10px 0px 10px 0px;
     }

     #ui-id-1 {
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0px 20px 0px 0px;
     }
}

@media (max-width: 767.99px) {
     .homePageHeader {
          padding: 80px 0px 0px 0px;
          font-family: 'Vollkorn SC', serif;
          font-size: 28px;
          line-height: 28px;
          text-align: center;
          color: #FFBF00;
          background-color: #FFFFFF;
          content: '&#10016; Iesus &#10016;<br> &#10016; est &#10016;<br> &#10016;  Dominus &#10016;';
     }

     .homePageSubHeader {
          padding: 10px 0px 0px 0px;
          font-family: 'Vollkorn SC', serif;
          font-size: 20px;
          line-height: 20px;
          text-align: center;
          color: #999999;
          background-color: #FFFFFF;
     }

     .homePageSubHeaderHindi {
          padding: 0px 0px 0px 0px;
          font-family: 'Laila', serif;
          font-size: 20px;
          line-height: 20px;
          text-align: center;
          color: #999999;
          background-color: #FFFFFF;
     }

     .homePageForm {
          max-width: 700px;
          margin: 0 auto;
          padding: 15px 20px 0px 20px;
     }

     .homePageFormRow {
          display: flex;
          text-align: center;
          box-shadow: 0 2px 8px -5px gray;
          border: darkgray solid 1.5px;
          border-radius: 10px;
     }

     .homePageSearchIcon {
          color: #FFBF00;
          height: auto;
          width: 40px;
          font-size: 20px;
          text-align: center;
          padding: 9px 0px 0px 10px;
          opacity: 0.7;
     }

     .homePageTextbox {
          height: 40px;
          border-radius: 8px;
          border: transparent solid 0px;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          line-height: 16px;
          box-shadow: 0 0px 0px 0px transparent;
          padding: 0px 20px 0px 10px;
     }

     .homePageTextbox:focus {
          height: 40px;
          border-radius: 8px;
          border: transparent solid 0px;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          line-height: 16px;
          box-shadow: 0 0px 0px 0px transparent;
          padding: 0px 20px 0px 10px;
     }

     .ui-widget.ui-widget-content {
          border: transparent solid 0px;
          border-radius: 10px;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          line-height: 20px;
          padding: 6px 0px 6px 0px;
     }

     #ui-id-1 {
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0px 20px 0px 0px;
     }
}
