.jumbotron {
      height: 440px;
      color: #FFFFFF;
      vertical-align: text-bottom;
      padding: 0px 0px 20px 0px;
      margin: 0px 0px 0px 0px;
}

.jumbotronBackground {
      background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1.0) ), url('../images/Large/First Sunday of Advent.jpg');
      background-size: cover;
      background-position: center;
      position: relative;
}

.simplePrayersBody {
      background-size: cover;
      background-position: center;
      padding: 20px 0px 0px 0px;
}

.letUsPrayBackground {
      background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.0) ), url('../images/Large/Let Us Pray.jpg');
      background-size: cover;
      background-position: center;
      padding: 220px 0px 0px 0px;
}

.container .jumbotron, .container-fluid .jumbotron {
      padding-right: 50px;
      padding-left: 50px;
      border-radius: 0px;
}

.liturgyForTheDay {
      position: absolute;
      bottom: 40px;
}

p.liturgyForTheDayForm {
      margin: 0px 0px 10px 0px;
      font-size: 20px;
      font-family: 'Merriweather', serif;
}

h1.liturgyForTheDayHeader {
      font-family: 'Vollkorn SC', serif;
      margin: 0px 0px 10px -2px;
      font-size: 50px;
      line-height: 34px;
}

p.liturgyForTheDayWeek {
      font-size: 20px;
      font-family: 'Merriweather', serif;
}

.missalPrayersBody {
      padding: 50px 50px 0px 50px;
}

.prayerBody {
      padding: 0px 0px 20px 0px;
}

.prayerBodyHeader {
      font-family: 'Vollkorn SC', serif;
      color: #D7B546;
      margin: 0px 0px 0px -2px;
      font-size: 30px;
      line-height: 30px;
}

.prayerBodyTagline {
      font-family: 'Merriweather', serif;
      font-size: 14.5px;
      line-height: 20px;
      margin: 0px 0px 8px 0px;
      color: #777777;
}

.prayerBodyVerses {
      font-family: 'Merriweather', serif;
      font-size: 16px;
      margin: 0px 0px 0px 0px;
      color: #777777;
}

.prayerBodyContent {
      font-family: 'Merriweather', serif;
      font-size: 16px;
      line-height: 20px;
      margin: 0px 0px 5px 0px;
}

.prayerBodyContent span {
      display: inline-block;
      padding-left: 10px;
      text-indent: -10px;
}

.row-left {
      padding-right: 10px;
      padding-left: 15px;
}

.row-right {
      padding-right: 15px;
      padding-left: 10px;
}

.btn {
      border: 2px solid #FFFFFF;
      border-radius: 0px;
      background-color: transparent;
      font-family: 'Montserrat', sans-serif;
      color: #FFFFFF;
      padding: 14px 28px;
      font-size: 14px;
      cursor: pointer;
}

.default {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF;
}

.default:hover {
      color: #FFFFFF;
      background-color: rgba(255,255,255,0.4);
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
   background: #FFFFFF;
   border-color: #FFFFFF;
   color: #000000;
}

@media (max-width: 991px) {
      .jumbotron {
            color: #FFFFFF;
            height: 400px;
            padding: 0px 40px 20px 20px;
            margin-bottom: 20px;
      }

      .jumbotronBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1.0) ), url('../images/Large/First Sunday of Advent.jpg');
            background-size: cover;
            background-position: bottom;
            position: relative;
      }

      .jumbotron h1 {
            display: inline-block;
            font-family: 'Vollkorn SC', serif;
            margin: 0px 40px 0px -2px;
            font-size: 34px;
            line-height: 34px;
            position: absolute;
            bottom: 30px;
      }

      .jumbotron h2 {
            font-family: 'Vollkorn SC', serif;
            margin-left: -2px;
            font-size: 26px;
            line-height: 13px;
      }

      .jumbotron p {
            font-size: 12px;
            padding-bottom: 0px;
            font-family: 'Montserrat', sans-serif;
      }

      .row-left {
            padding-right: 10px;
            padding-left: 15px;
      }

      .row-right {
            padding-right: 15px;
            padding-left: 10px;
      }

      .btn {
            border: 2px solid #FFFFFF;
            border-radius: 0px;
            background-color: transparent;
            font-family: 'Montserrat', sans-serif;
            color: #FFFFFF;
            padding: 10px 28px;
            font-size: 12px;
            cursor: pointer;
      }

      .default {
            background-color: transparent;
            border-color: #FFFFFF;
            color: #FFFFFF;
      }

      .default:hover {
            color: #FFFFFF;
            background-color: rgba(255,255,255,0.2);
      }

      .btn:focus,.btn:active {
         outline: none !important;
         box-shadow: none;
         background: #FFFFFF;
         border-color: #FFFFFF;
         color: #000000;
      }
}

@media (max-width: 768px) {
      .jumbotron {
            color: #FFFFFF;
            height: 240px;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
      }

      .jumbotronBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1.0) ), url('../images/Small/First Sunday of Advent.jpg');
            background-size: cover;
            background-position: bottom;
            position: relative;
      }

      .container .jumbotron, .container-fluid .jumbotron {
            padding-right: 25px;
            padding-left: 25px;
            margin: 0px 0px 20px 0px;
            border-radius: 0px;
      }

      .jumbotron h1 {
            display: inline-block;
            font-family: 'Vollkorn SC', serif;
            margin-left: -2px;
            font-size: 24px;
            line-height: 24px;
            position: absolute;
            bottom: 20px;
      }

      .jumbotron h2 {
            font-family: 'Vollkorn SC', serif;
            margin-left: -2px;
            font-size: 26px;
            line-height: 16px;
      }

      .jumbotron p {
            font-size: 11px;
            padding-bottom: 0px;
            font-family: 'Montserrat', sans-serif;
      }

      .missalPrayersBody {
            padding: 15px 25px 0px 25px;
      }

      .prayerBody {
            padding: 0px 0px 12px 0px;
      }

      .prayerBodyHeader {
            font-family: 'Vollkorn SC', serif;
            color: #D7B546;
            margin: 0px 0px 0px 0px;
            font-size: 22px;
            line-height: 22px;
      }

      .prayerBodyTagline {
            font-family: 'Merriweather', serif;
            font-size: 12.5px;
            line-height: 16px;
            margin: 0px 0px 8px 0px;
            color: #777777;
      }

      .prayerBodyVerses {
            font-family: 'Merriweather', serif;
            font-size: 14px;
            margin: 0px 0px 0px 0px;
            color: #777777;
      }

      .prayerBodyContent {
            font-family: 'Merriweather', serif;
            font-size: 14px;
            line-height: 18px;
            margin: 0px 0px 5px 0px;
      }

      .prayerBodyContent span {
            display: inline-block;
            padding-left: 10px;
            text-indent: -10px;
      }

      .row-left {
            padding-right: 15px;
            padding-left: 15px;
      }

      .row-right {
            padding-right: 15px;
            padding-left: 15px;
      }

      .btn {
            border: 2px solid #FFFFFF;
            border-radius: 0px;
            background-color: transparent;
            font-family: 'Montserrat', sans-serif;
            color: #FFFFFF;
            padding: 10px 28px;
            font-size: 12px;
            cursor: pointer;
      }

      .default {
            background-color: transparent;
            border-color: #FFFFFF;
            color: #FFFFFF;
      }

      .default:hover {
            color: #FFFFFF;
            background-color: rgba(255,255,255,0.2);
      }

      .btn:focus,.btn:active {
         outline: none !important;
         box-shadow: none;
         background: #FFFFFF;
         border-color: #FFFFFF;
         color: #000000;
      }
}

@media (max-width: 320px) {
      .jumbotron {
            color: #FFFFFF;
            height: 300px;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 10px 0px;
      }

      .jumbotronBackground {
            background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1.0) ), url('../images/Small/First Sunday of Advent.jpg');
            background-size: cover;
            background-position: center;
            position: relative;
      }

      .container .jumbotron, .container-fluid .jumbotron {
            padding-right: 13px;
            padding-left: 13px;
            border-radius: 0px;
      }

      .jumbotron h1 {
            font-family: 'Vollkorn SC', serif;
            margin-left: -2px;
            font-size: 22px;
            line-height: 22px;
            position: absolute;
            bottom: 20px;
      }

      .jumbotron p {
            font-size: 10px;
            padding-bottom: 0px;
            font-family: 'Montserrat', sans-serif;
      }

      .missalPrayersBody {
            padding: 15px 13px 0px 13px;
      }

      .prayerBody {
            padding: 0px 0px 12px 0px;
      }

      .prayerBodyHeader {
            font-family: 'Vollkorn SC', serif;
            color: #D7B546;
            margin: 0px 0px 0px 0px;
            font-size: 22px;
            line-height: 22px;
      }

      .prayerBodyTagline {
            font-family: 'Merriweather', serif;
            font-size: 12.5px;
            line-height: 16px;
            margin: 0px 0px 8px 0px;
            color: #777777;
      }

      .prayerBodyVerses {
            font-family: 'Merriweather', serif;
            font-size: 14px;
            margin: 0px 0px 0px 0px;
            color: #777777;
      }

      .prayerBodyContent {
            font-family: 'Merriweather', serif;
            font-size: 14px;
            line-height: 18px;
            margin: 0px 0px 5px 0px;
      }

      .prayerBodyContent span {
            display: inline-block;
            padding-left: 10px;
            text-indent: -10px;
      }

      .row-left {
            padding-right: 15px;
            padding-left: 15px;
      }

      .row-right {
            padding-right: 15px;
            padding-left: 15px;
      }

      .btn {
            border: 2px solid #FFFFFF;
            border-radius: 0px;
            background-color: transparent;
            font-family: 'Montserrat', sans-serif;
            color: #FFFFFF;
            padding: 10px 18px;
            font-size: 12px;
            cursor: pointer;
      }

      .default {
            background-color: transparent;
            border-color: #FFFFFF;
            color: #FFFFFF;
      }

      .default:hover {
            color: #FFFFFF;
            background-color: rgba(255,255,255,0.2);
      }

      .btn:focus,.btn:active {
         outline: none !important;
         box-shadow: none;
         background: #FFFFFF;
         border-color: #FFFFFF;
         color: #000000;
      }
}
