html, body {
     /* height: 100;      */
     overflow-x: hidden;
     /* position: relative; */
}

@media (min-width: 800px) {
     .widescreen {
          display: block;
     }

     .mobile {
          display: none;
     }
}

@media (max-width: 799.99px) {
     .widescreen {
          display: none;
     }

     .mobile {
          display: block;
     }
}

@media (min-width: 767px) {
     .responsiveMobile {
          display: none;
     }
}

.navbar {
     background-color: #FFBF00;
     background: rgba(255, 191, 0, 0.7);
     -webkit-backdrop-filter: blur(5px);
     backdrop-filter: blur(5px);
     border-bottom-color: transparent;
}

.navbar-background {
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 998;
}

.navbar-close {
     color: #FFFFFF;
}

.navbar-brand {
     margin-top: 4px;
     font-family: 'Montserrat Alternates', sans-serif;
     letter-spacing: 1px;
     font-weight: 600;
     font-size: 16px;;
     color: #FFFFFF;
}

.navbar-header {
     background-color: transparent;
}

.navbar-nav {
     background-color: transparent;
     padding-top: 6px;
     font-family: 'Montserrat', sans-serif;
     font-size: 16px;
     color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
     color: #FFFFFF;
     background-color: transparent
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
     color: #000000;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
     border-color: transparent;
     color: #FFBF00;
     background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
     color: #FFFFFF;
}

@media (min-width: 767px){
     .navbar-brand {
          font-family: 'Montserrat Alternates', sans-serif;
          font-weight: 700;
          font-size: 22px;
          color: #FFFFFF;
     }

     .brandUnderscore {
          font-family: 'Caveat Brush', cursive;
     }

     .dropdown a:hover {
          background-color: #FFFFFF
     }

     .nav-dropdown:hover .nav-dropdown-menu {
          color: #FFFFFF;
          display: block;
          border-color: transparent
     }

     .container {
          padding-left: 0px;
          padding-right: 0px;
     }
}

@media (max-width: 766.99px) {
     .navbar {
          overflow: scroll;
     }

     .navbar::-webkit-scrollbar-thumb {
          -webkit-border-radius: 10px;
          border-radius: 10px;
          background: #FFFFFF;
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
     }

     .navbar-brand {
          padding-left: 0px;
          margin: 0px 5% 0px 7%;
          font-size: 18px;
     }

     .brandUnderscore {
          font-family: 'Caveat Brush', cursive;
     }

     .navbar-inverse .navbar-nav > li > a {
          color: #FFFFFF;
          text-align: right;
          margin-right: 10px;
     }

     .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
          padding: 5px;
          color: #FFFFFF;
          background-color: #F76D50;
          background-color: transparent;
     }

     .nav > li > a {
          padding: 10px 18px;
     }

     .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
          background: #F76D50;
          border-color: transparent;
          background-color: rgba(0, 0, 0, .4);
          padding-bottom: 120px;
     }

     .navbar-inverse .navbar-toggle .icon-bar {
          background-color: #FFFFFF;
          color: #000000;
     }

     .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle {
          border-color: transparent;
          margin-right: 5%;
          color: #FFFFFF;
     }

     .navbar-close {
          padding: 0px;
          margin: -5px 5px -5px 0px;
     }

     .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
          min-height: 100vh;
          overflow: auto;
     }

     .navbar-nav {
          background-color: transparent;
          padding-top: 6px;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          color: #FFFFFF;
     }
}

@media (max-width: 384px) {
     .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle {
          border-color: transparent;
          margin-right: 5%;
          color: #FFFFFF
     }

     .brandUnderscore {
          font-family: 'Caveat Brush', cursive;
     }

     .navbar-header{
          padding-top: 5px;
          width: auto;
     }

     .nav{
          width: auto;
     }
}

@media (max-width: 360px) {
     .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle {
          border-color: transparent;
          margin-right: 3%;
          color: #FFFFFF
     }

     .brandUnderscore {
          font-family: 'Caveat Brush', cursive;
     }

     .navbar-header{
          width: auto;
     }

     .nav{
          width: auto;
     }
}

@media (max-width: 318px;) {
     .navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle {
          border-color: transparent;
          margin-right: 3%;
          color: #FFFFFF
     }

     .brandUnderscore {
          font-family: 'Caveat Brush', cursive;
     }

     .navbar-header{
          width: auto;
     }

     .nav{
          width: auto;
     }
}

@media (max-height: 318px;) {
     .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
          background: #F76D50;
          border-color: transparent;
          background-color: rgba(0, 0, 0, .4);
          padding-bottom: 140px;
     }
}

@media (min-width: 800px) {
     .dropdown-menu {
          color: #FFFFFF;
          text-align: right;
          font-size: 16px;
     }
}

@media (max-width: 799.99px) {
     .dropdown-menu {
          height: auto;
          color: #FFFFFF;
          text-align: right;
          font-size: 14px;
          margin-right: 40px;
     }
}

@media (max-width: 767.99px) {
     .dropdown-menu {
          height: auto;
          color: #FFFFFF;
          text-align: right;
          font-size: 12px;
          margin-right: 40px;
     }
}

@media (max-width: 480px) {
     .dropdown-menu {
          height: auto;
          color: #FFFFFF;
          text-align: right;
          font-size: 12px;
          margin-right: 40px;
     }
}

@media (max-width: 340px) {
     .dropdown-menu {
          height: auto;
          color: #FFFFFF;
          text-align: right;
          font-size: 12px;
          margin-right: 15px;
     }
}

/* ============================================================================== */
/* CSS required for survey home page                                              */
/* ============================================================================== */

@media (min-width: 860px) {
     .homePageHeader {
          padding: 100px 16% 0px 16%;
          font-family: 'Vollkorn SC', serif;
          font-size: 60px;
          line-height: 60px;
          text-align: left;
          color: #FFBF00;
          background-color: #FFFFFF;
     }

     .homePageSubHeader {
          padding: 0px 16% 0px 16.3%;
          font-family: 'Montserrat', serif;
          font-size: 15px;
          line-height: 22px;
          text-align: left;
          color: #999999;
          background-color: #FFFFFF;
     }
}

@media (max-width: 859.99px) {
     .homePageHeader {
          padding: 100px 6% 0px 6%;
          font-family: 'Vollkorn SC', serif;
          font-size: 40px;
          line-height: 40px;
          text-align: left;
          color: #FFBF00;
          background-color: #FFFFFF;
     }

     .homePageSubHeader {
          padding: 0px 6% 0px 6.2%;
          font-family: 'Montserrat', serif;
          font-size: 14px;
          line-height: 21px;
          text-align: left;
          color: #999999;
          background-color: #FFFFFF;
     }
}

@media (max-width: 767.99px) {
     .homePageHeader {
          padding: 80px 5% 0px 5%;
          font-family: 'Vollkorn SC', serif;
          font-size: 28px;
          line-height: 28px;
          text-align: left;
          color: #FFBF00;
          background-color: #FFFFFF;
          content: '&#10016; Iesus &#10016;<br> &#10016; est &#10016;<br> &#10016;  Dominus &#10016;';
     }

     .homePageSubHeader {
          padding: 0px 5% 0px 5.2%;
          font-family: 'Montserrat', serif;
          font-size: 12px;
          line-height: 16px;
          text-align: left;
          color: #999999;
          background-color: #FFFFFF;
     }
}

/* ============================================================================== */
/* CSS required for prayer dashboard                                              */
/* ============================================================================== */

@media (min-width: 860px) {
      .prayerDashboardRow {
            padding: 30px 10% 20px 10%;
            background-color: #FFFFFF;
      }

      .prayerDashboardColumn {
            padding: 10px 8px 20px 0px;
      }

      .prayerDashboardColumnLeft {
            padding: 10px 8px 0px 0px;
      }

      .prayerDashboardColumnCentre {
            padding: 10px 4px 0px 4px;
      }

      .prayerDashboardColumnRight {
            padding: 10px 0px 0px 8px;
      }

      .prayersCardLink:hover,
      .prayersCardLink:active,
      .prayersCardLink:focus {
            text-decoration: none;
      }

      .prayersCard {
            padding: 14px 14px 14px 14px;
            margin: 0px 0px 10px 4px;
            border: solid 2px #FFBF00;
            border-radius: 10px;
            box-shadow: 0px 0px 14px #FFBF00;
      }

      .prayersCard:hover {
            padding: 14px 14px 14px 14px;
            margin: 0px 0px 10px 4px;
            border: solid 2px #FE6F5E;
            border-radius: 10px;
            box-shadow: 0px 0px 14px #FE6F5E;
      }

      .prayersCard:active,
      .prayersCard:focus {
            padding: 14px 14px 14px 14px;
            margin: 0px 0px 10px 4px;
            border: solid 2px #FFBF00;
            border-radius: 10px;
            box-shadow: 0px 0px 14px #FFBF00;
      }

      .prayersCardHeader {
            font-family: 'Vollkorn SC', serif;
            color: #FFBF00;
            font-size: 28px;
            line-height: 28px;
      }

      .prayersCardSubHeader {
            font-family: 'Montserrat', serif;
            font-size: 15px;
            line-height: 22px;
            text-align: left;
            color: #999999;
            background-color: #FFFFFF;
      }

      .prayersCardBody {
            padding: 10px 0px 0px 0px;
            font-family: 'Vollkorn', serif;
            font-size: 18px;
            line-height: 22px;
            text-align: left;
            color: #999999;
      }

      .essentialPrayerDashboardRow {
            padding: 20px 16% 10px 16%;
            background-color: #FFFFFF;
      }

      .individualPrayersCard {
            padding: 20px 20px 20px 20px;
            margin: 0px 0px 10px 4px;
            border: solid 2px #FFBF00;
            border-radius: 10px;
            box-shadow: 0px 0px 14px #FFBF00;
      }

      .individualPrayersCard:hover {
            padding: 20px 20px 20px 20px;
            margin: 0px 0px 10px 4px;
            border: solid 2px #FE6F5E;
            border-radius: 10px;
            box-shadow: 0px 0px 14px #FE6F5E;
      }

      .individualPrayersCard:active,
      .individualPrayersCard:focus {
            padding: 20px 20px 20px 20px;
            margin: 0px 0px 10px 4px;
            border: solid 2px #FFBF00;
            border-radius: 10px;
            box-shadow: 0px 0px 14px #FFBF00;
      }

      .prayersCardGoFurther {
            font-family: 'Montserrat', serif;
            font-size: 15px;
            line-height: 22px;
            text-align: left;
            color: #999999;
            background-color: #FFFFFF;
      }
}

@media (max-width: 859.99px) {
      .prayerDashboardRow {
            padding: 30px 6% 20px 6.2%;
            background-color: #FFFFFF;
      }

      .prayerDashboardColumn {
            padding: 10px 8px 20px 0px;
      }

      .prayerDashboardColumnLeft {
            padding: 10px 8px 0px 0px;
      }

      .prayerDashboardColumnCentre {
            padding: 10px 4px 0px 4px;
      }

      .prayerDashboardColumnRight {
            padding: 10px 0px 0px 8px;
      }

      .prayersCardLink:hover,
      .prayersCardLink:active,
      .prayersCardLink:focus {
            text-decoration: none;
      }

      .prayersCard {
            padding: 14px 14px 14px 14px;
            margin: 0px 0px 10px 4px;
            border: solid 2px #FFBF00;
            border-radius: 10px;
            box-shadow: 0px 0px 14px #FFBF00;
      }

      .prayersCard:hover {
            padding: 14px 14px 14px 14px;
            margin: 0px 0px 10px 4px;
            border: solid 2px #FE6F5E;
            border-radius: 10px;
            box-shadow: 0px 0px 14px #FE6F5E;
      }

      .prayersCard:active,
      .prayersCard:focus {
            padding: 14px 14px 14px 14px;
            margin: 0px 0px 10px 4px;
            border: solid 2px #FFBF00;
            border-radius: 10px;
            box-shadow: 0px 0px 14px #FFBF00;
      }

      .prayersCardHeader {
            font-family: 'Vollkorn SC', serif;
            color: #FFBF00;
            font-size: 28px;
            line-height: 28px;
      }

      .prayersCardSubHeader {
            font-family: 'Montserrat', serif;
            font-size: 14px;
            line-height: 21px;
            text-align: left;
            color: #999999;
            background-color: #FFFFFF;
      }

      .prayersCardBody {
            padding: 10px 0px 0px 0px;
            font-family: 'Vollkorn', serif;
            font-size: 18px;
            line-height: 22px;
            text-align: left;
            color: #999999;
      }

      .essentialPrayerDashboardRow {
            padding: 20px 6% 10px 6%;
            background-color: #FFFFFF;
      }

      .individualPrayersCard {
            padding: 20px 20px 20px 20px;
            margin: 0px 0px 10px 4px;
            border: solid 2px #FFBF00;
            border-radius: 10px;
            box-shadow: 0px 0px 14px #FFBF00;
      }

      .individualPrayersCard:hover {
            padding: 20px 20px 20px 20px;
            margin: 0px 0px 10px 4px;
            border: solid 2px #FE6F5E;
            border-radius: 10px;
            box-shadow: 0px 0px 14px #FE6F5E;
      }

      .individualPrayersCard:active,
      .individualPrayersCard:focus {
            padding: 20px 20px 20px 20px;
            margin: 0px 0px 10px 4px;
            border: solid 2px #FFBF00;
            border-radius: 10px;
            box-shadow: 0px 0px 14px #FFBF00;
      }

      .prayersCardGoFurther {
            font-family: 'Montserrat', serif;
            font-size: 14px;
            line-height: 21px;
            text-align: left;
            color: #999999;
            background-color: #FFFFFF;
      }
}

@media (max-width: 767.99px) {
     .prayerDashboardRow {
           padding: 10px 5% 20px 5.2%;
           background-color: #FFFFFF;
     }

     .prayerDashboardColumn {
           padding: 10px 8px 20px 8px;
     }

     .prayerDashboardColumnLeft {
           padding: 0px 8px 0px 8px;
     }

     .prayerDashboardColumnCentre {
           padding: 0px 8px 0px 8px;
     }

     .prayerDashboardColumnRight {
           padding: 0px 8px 0px 8px;
     }

     .prayersCardLink:hover,
     .prayersCardLink:active,
     .prayersCardLink:focus {
           text-decoration: none;
     }

     .prayersCard {
           padding: 14px 14px 14px 14px;
           margin: 0px 8px 10px 8px;
           border: solid 2px #FFBF00;
           border-radius: 10px;
           box-shadow: 0px 0px 14px #FFBF00;
     }

     .prayersCard:hover {
           padding: 14px 14px 14px 14px;
           margin: 0px 8px 10px 8px;
           border: solid 2px #FE6F5E;
           border-radius: 10px;
           box-shadow: 0px 0px 14px #FE6F5E;
     }

     .prayersCard:active,
     .prayersCard:focus {
           padding: 14px 14px 14px 14px;
           margin: 0px 8px 10px 8px;
           border: solid 2px #FFBF00;
           border-radius: 10px;
           box-shadow: 0px 0px 14px #FFBF00;
     }

     .prayersCardHeader {
           font-family: 'Vollkorn SC', serif;
           color: #FFBF00;
           font-size: 18px;
           line-height: 18px;
     }

     .prayersCardSubHeader {
           font-family: 'Montserrat', serif;
           font-size: 12px;
           line-height: 16px;
           text-align: left;
           color: #999999;
           background-color: #FFFFFF;
     }

     .prayersCardBody {
          padding: 10px 0px 0px 0px;
          font-family: 'Vollkorn', serif;
          font-size: 15px;
          line-height: 15px;
          text-align: left;
          color: #999999;
     }

     .essentialPrayerDashboardRow {
           padding: 10px 5% 10px 5.2%;
           background-color: #FFFFFF;
     }

     .individualPrayersCard {
           padding: 20px 20px 20px 20px;
           margin: 0px 8px 10px 8px;
           border: solid 2px #FFBF00;
           border-radius: 10px;
           box-shadow: 0px 0px 14px #FFBF00;
     }

     .individualPrayersCard:hover {
           padding: 20px 20px 20px 20px;
           margin: 0px 8px 10px 8px;
           border: solid 2px #FE6F5E;
           border-radius: 10px;
           box-shadow: 0px 0px 14px #FE6F5E;
     }

     .individualPrayersCard:active,
     .individualPrayersCard:focus {
           padding: 20px 20px 20px 20px;
           margin: 0px 8px 10px 8px;
           border: solid 2px #FFBF00;
           border-radius: 10px;
           box-shadow: 0px 0px 14px #FFBF00;
     }

     .prayersCardGoFurther {
           padding: 10px 0px 0px 0px;
           font-family: 'Montserrat', serif;
           font-size: 12px;
           line-height: 16px;
           text-align: left;
           color: #999999;
           background-color: #FFFFFF;
     }
}

/* ============================================================================== */
/* CSS required for prayer details page                                           */
/* ============================================================================== */

@media (min-width: 860px) {
     .prayerDetailsHeader {
          padding: 100px 1% 0px 1%;
          margin: 0px 16% 0px 16%;
          font-family: 'Vollkorn SC', serif;
          font-size: 60px;
          line-height: 60px;
          text-align: left;
          color: #FFBF00;
          background-color: #FFFFFF;
          /* border-bottom: solid #A9A9A9 3px;
          border-radius: 8px */
     }

     .prayerDetailsTabs {
          margin: 30px 2% 0px 2%;
     }

     .prayerDetailsBody {
           padding: 0px 0% 0px 0%;
          font-family: 'Montserrat', serif;
          font-size: 15px;
          line-height: 22px;
          text-align: left;
          color: #999999;
          background-color: #FFFFFF;
     }

     .prayerDetailsDashboard {
          padding: 30px 16% 0px 16%;
     }

     .prayerDetailsPills {
           margin: 0px 0% 0px 0%;
            font-family: 'Montserrat', serif;
            font-size: 15px;
           line-height: 22px;
            text-align: left;
            color: #999999 !important;
            background-color: #FFFFFF !important;
            border: solid #FFBF00 2px;
            border-radius: 6px;
            box-shadow: #FFBF00 0px 0px 12px;
     }

     .pillBox {
           position: inherit;
           display: inline-grid;
           margin: 0px 0px 0px 0px;
           color: #999999;
           width: 25%;
     }

     .prayerDetailsPills > li + li {
           margin-left: 0px;
      }

     .prayerDetailsPills > li > a,
     .prayerDetailsPills > li:hover > a {
           padding: 15px 0px 15px 0px;
           text-align: center;
           color: #999999;
           background-color: transparent;
           border-radius: 0px;
     }

     .prayerDetailsPills > li.active > a,
     .prayerDetailsPills > li.active > a:focus,
     .prayerDetailsPills > li.active > a:hover {
            color: #964B00;
            background-color: transparent;
            border-radius: 0px;
            box-shadow: inset #FFBF00 0px 0px 40px;
     }

     .prayTabBody {
          padding: 0px 0% 10px 0%;
          text-align: left;
          color: #999999;
     }

     .languageTag {
          color: #000000;
     }

     .latinColor {
          color: #FF007F;
     }

     .latinScript {
          font-family: 'Vollkorn', serif;
          font-size: 18px;
          line-height: 22px;
     }

     .devnagariScript {
          font-family: 'Sahitya', serif;
          font-size: 19px;
          line-height: 23px;
     }

     .btn-secondary {
           margin: 0px;
           text-align: left;
     }
}

@media (max-width: 859.99px) {
     .prayerDetailsHeader {
          padding: 100px 1% 0px 1%;
          margin: 0px 6% 0px 6%;
          font-family: 'Vollkorn SC', serif;
          font-size: 40px;
          line-height: 40px;
          text-align: left;
          color: #FFBF00;
          background-color: #FFFFFF;
          /* border-bottom: solid #A9A9A9 3px;
          border-radius: 8px */
     }

     .prayerDetailsTabs {
          margin: 0px 1% 0px 1%;
     }

     .prayerDetailsBody {
          font-family: 'Montserrat', serif;
          font-size: 14px;
          line-height: 21px;
          text-align: left;
          color: #999999;
          background-color: #FFFFFF;
     }

     .prayerDetailsDashboard {
           padding: 20px 6% 0px 6%;
           align-items: center;
     }

     .prayerDetailsPills {
           margin: 0px 0% 0px 0%;
            font-family: 'Montserrat', serif;
            font-size: 14px;
           line-height: 21px;
            text-align: left;
            color: #999999 !important;
            background-color: #FFFFFF !important;
            border: solid #FFBF00 2px;
            border-radius: 6px;
            /* box-shadow: #FFBF00 0px 0px 12px; */
     }

     .pillBox,
     .pillBox:hover {
           position: inherit;
           display: inline-grid;
           margin: 0px 0px 0px 0px;
           color: #999999;
           background-color: transparent;
           width: 25%;
     }

     .prayerDetailsPills > li + li {
           margin-left: 0px;
      }

     .prayerDetailsPills > li > a,
     .prayerDetailsPills > li > a:hover {
           padding: 14px 0px 14px 0px;
           text-align: center;
           color: #999999;
           background-color: transparent;
     }

     .prayerDetailsPills > li.active > a,
     .prayerDetailsPills > li.active > a:focus,
     .prayerDetailsPills > li.active > a:hover {
            color: #964B00;
            background-color: transparent;
            border-radius: 0px;
            box-shadow: inset #FFBF00 0px 0px 40px;
     }

     .prayTabBody {
           padding: 0px 0% 10px 0%;
           text-align: left;
           color: #999999;
     }

     .languageTag {
           color: #000000;
     }

     .latinColor {
           color: #FF007F;
     }

     .latinScript {
           font-family: 'Vollkorn', serif;
           font-size: 18px;
           line-height: 22px;
     }

     .devnagariScript {
           font-family: 'Sahitya', serif;
           font-size: 20px;
           line-height: 24px;
     }
}

@media (max-width: 767.99px) {
     .prayerDetailsHeader {
          padding: 80px 0% 0px 5px;
          margin: 0px 5% 0px 5%;
          font-family: 'Vollkorn SC', serif;
          font-size: 28px;
          line-height: 28px;
          text-align: left;
          color: #FFBF00;
          background-color: #FFFFFF;
          content: '&#10016; Iesus &#10016;<br> &#10016; est &#10016;<br> &#10016;  Dominus &#10016;';
          /* border-bottom: solid #A9A9A9 2px;
          border-radius: 6px; */
     }

     .prayerDetailsTabs {
           margin: 0px 0px 0px 0px;
     }

     .prayerDetailsBody {
          padding: 0px 0px 0px 0px;
          font-family: 'Montserrat', serif;
          font-size: 12px;
          line-height: 16px;
          text-align: left;
          color: #999999;
          background-color: #FFFFFF;
     }

     .prayerDetailsDashboard {
          padding: 10px 5% 0px 5%;
          align-items: center;
     }

     .prayerDetailsPills {
           margin: 0px 0% 10px 0%;
            font-family: 'Montserrat', serif;
            font-size: 12px;
            line-height: 16px;
            text-align: left;
            color: #999999 !important;
            background-color: #FFFFFF !important;
            border: solid #FFBF00 2px;
            border-radius: 6px;
            box-shadow: #FFBF00 0px 0px 12px;
     }

     .pillBox,
     .pillBox:hover {
           position: inherit;
           display: inline-grid;
           margin: 0px 0px 0px 0px;
           color: #999999;
           background-color: transparent;
           width: 25%;
     }

     .prayerDetailsPills > li + li {
           margin-left: 0px;
      }

     .prayerDetailsPills > li > a,
     .prayerDetailsPills > li:hover > a {
           padding: 12px 0px 12px 0px;
           text-align: center;
           color: #999999;
           background-color: transparent;
           border-radius: 0px;
     }

     .prayerDetailsPills > li.active > a,
     .prayerDetailsPills > li.active > a:focus,
     .prayerDetailsPills > li.active > a:hover {
            color: #964B00;
            font-style: normal;
            background-color: transparent;
            border-radius: 0px;
            box-shadow: inset #FFBF00 0px 0px 40px;
     }

      .tabCard {
            padding: 10px 16px 20px 16px;
            margin: 10px 0px 30px 0px;
            border: solid 2px #FFBF00;
            border-radius: 10px;
            box-shadow: 0px 0px 14px #FFBF00;
      }

      .prayTabBody {
            padding: 10px 2% 0px 2%;
            text-align: left;
            color: #999999;
      }

      .aboutTabBody {
            padding: 15px 2% 10px 2%;
            text-align: left;
            color: #999999;
      }

      .prayTabNote {
            display: inline-block;
            padding: 10px 5px 0px 5px;
            font-size: 12px;
            line-height: 12px;
            vertical-align: middle;
      }

      .prayTabDropdown {
            padding: 5px 2% 0px 2%;
            text-align: right;
            position: static;
      }

      .prayTabDropdownText {
            display: inline-block;
            padding: 4px 5px 0px 0px;
            font-size: 12px;
            line-height: 12px;
            vertical-align: middle;
      }

      .prayTabDropdownButton {
            padding: 10px 15px 8px 10px;
            margin: 8px 0px 4px 0px;
            font-family: 'Vollkorn', serif;
            font-size: 14px;
            line-height: 14px;
            text-align: right;
            /* width: 150px; */
            color: #000000;
      }

      .prayTabDropdownOption {
            margin: 16px 0px 20px 0px;
            /* position: fixed; */
            width: 260px;
            height: 196px;
            overflow: scroll;
            z-index: 997;
      }

      .prayTabDropdownItem {
            padding: 4px 10px 4px 10px;
            font-family: 'Vollkorn', serif;
            font-size: 14px;
            line-height: 14px;
            text-align: left;
            color: #999999;
      }

      .languageTag {
            font-family: 'Vollkorn', serif;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
      }

      .latinColor {
            color: #FF007F;
      }

      .latinScript {
            font-family: 'Vollkorn', serif;
            font-size: 15px;
            line-height: 16px;
      }

      .devnagariScript {
            font-family: 'Sahitya', serif;
            font-size: 17px;
            line-height: 18px;
      }
}
