{% load static %}
<!DOCTYPE html>
<p>
      It is Advent. The time before the most wonderful time of the year. A time of loving devotion. A time of hopeful longing. A time of joyful preparation. Sadly, for many of us, the Season just flies by before we can draw any spiritual benefit from
      it. We’re so engrossed in our jobs, in hitting our targets, in wrapping up projects, in renovating our homes, in shopping for the holiday season, in planning our vacation, we just forget what this time is about. And it’s not always ourselves to
      blame. It’s just how the world operates at this time, and we are obliged to move with it.
</p>
<p>

</p>
<p>
      Yet, there are ways we can make this Season of Advent a truly blessed time of the year. But first, a quick overview of the Season.
</p>
<p>

</p>
<p>
      Advent, like the Season of Lent, is a time of prayer and fasting, but with a hope and expectation associated with the Birth of Jesus Christ. Beginning four Sundays before Christmas Day, the First Sunday of Advent also marks the beginning of the
      Liturgical Year in the Latin Catholic Tradition.
</p>
<p>

</p>
<p>
      The readings of the season follow a different “theme” on each Sunday. The first Sunday of Advent touches on the “Messianic Age” or “Coming of the LORD”, and the “End Times”. The readings of the Second Sunday cover the ministry and life of St.
      John the Baptist, the Herald of the Messiah. The third Sunday also follows the preaching of St. John the Baptist and his focus on Christ who comes after him. Finally, the fourth Sunday gives us the events preceeding and leading up to the birth
      of Jesus: In Liturgical Year A, we have the dreams of St. Joseph; Year B recounts the Annunciation; Year C is the story of the Blessed Virgin Mary’s Visit to her cousin Elizabeth.
</p>
<p>

</p>
<p>
      The readings for weekdays are in two sets: The first set, starting from the first Monday of Advent up to the 16<sup>th</sup> of December, explores the many prophecies of Isaiah, and the Gospel passages according the St. Matthew and St. Luke
      that fulfill these prophecies in the person of Jesus Christ. The second set, from the 17<sup>th</sup> of December up to the day before Christmas, cover the first chapters of the Gospel accounts according to St. Matthew and St. Luke, and
      prophecies from the Old Testament.
</p>
<p>

</p>
<p>
      The Latin <em>adventus</em> is translated from the Greek <em>parousia</em> which refers to the Second Coming of Jesus Christ. For Catholics, this is a time to meditate on both the First Incarnation of Christ, and on His Inevitable Return, when
      He will take up dominion of heaven and earth.
</p>
<p>

</p>
<p>
      What traditions can we then take to prepare ourselves? Choosing which traditions to follow is not always easy. We live in many nations, and we experience Christmas differently. While North Americans and European Christians revel in the snow and
      frost of winter, the ones in Argentina, South Africa and Australia bask in the summer sun. But here are some things we can all do together as a people of God, no matter where we live.
</p>
<p>

</p>
<h2>Buy a Daily Missal</h2>
<p>
      As we just read, for Latin Catholics, the Season of Advent coincides with the beginning of the new liturgical year, this is a great time for families to invest in the Daily Missal. The Missal not only allows us easy access to daily readings at
      Holy Mass, but it also affords us a deeper contemplation of the many prayers made by the Priest at the Holy Altar. It is a effective tool for learning the stucture and significance of the parts of the Holy Mass. People regularly testify how the
      use of the Daily Missal helps them grow more reverent towards the Holy Eucharist, which is the Source and Summit of Christian, nay, of all life.
</p>
<p>

</p>
<h2>Participate in Daily Mass</h2>
<p>
      Like with the secular tradition of setting new year resolutons, resolve to attend Holy Mass daily with the start of the New Liturgical Year. Being called to recollect our hearts and reorient our souls towards God, the Season of Advent is a good
      time to take up this discipline. Starting every day with Holy Mass is the perfect way to fill our day with the Grace of Jesus Christ. If that isn’t possible, Holy Mass at the end of the day is the next best option. This can be done alone, but
      it only gets better when the whole family is involved.
</p>
<p>

</p>
<h2>Pray the Holy Rosary Daily</h2>
<p>
      What better way to prepare ourselves for the Birth of our Lord than by meditating upon His life with our Blessed Mother, the Mediatrix of All Grace, by our side? The Holy Rosary of the Blessed Virgin Mary is among the most powerful Christian
      devotions given to us. For centuries, the Holy Rosary has been instrumental in bringing together families. Prayed together, especially during or after sunset, the Holy Rosary can mend wounds and heal those hurting. Children learn of the life of
      Jesus through the Rosary, while also learning various Christian prayers when they are short of words. It is a gift that keeps on giving.
</p>
<p>

</p>
<h2>Do the Daily (or Nightly) Examen</h2>
<p>
      A must-know for every Christian who wants to grow in holiness and discipline, the<a href="https://www.ignatianspirituality.com/ignatian-prayer/the-examen/"> Daily Examen</a> is a practice of prayerful reflection on the events of the day gone
      by, with the aim to improve ourselves and grow in holiness. It ties in perfectly with the Season’s call to preparation and reconciliation. By setting some time aside every day, preferrably after sunset, the Examen helps us recollect all the
      blessings and graces encountered throughout our day, as well as the moments and situations where we failed to respond to these graces, in the manner prescribed by St. Ignatius de Loyola himself. Parents can do it with their children, and show
      them how to live prayerful, contemplative lives that keep God in our focus.
</p>
<p>

</p>
<h2>Make a Weekly Confession</h2>
<p>
      Prompted by the call to prepare our hearts and reconcile ourselves with God and neighbour, and aided by practices such as the Examen, we should make it a habit to visit the Sacrament of Reconciliation once a week. If we are fair and honest with
      ourselves, most of us do not realise how deep in mortal sin we are, and how grave a danger it is to our souls. Add to that, one shouldn’t willingly receive the Holy Eucharist without having confessed any mortal sins first. By confessing our
      sins we receive Sanctifying Grace that reconciles us with God and makes us worthy of receiving the Most Holy Body and Blood of our Lord Jesus Christ. Parents must help children develop this habit, too.
</p>
<p>

</p>
<p>
      All of the traditions recommended up till now are, to put it simply, quite general in nature. They need not be treated as Advent Traditions, and they can be continued even after the Season is over. But there are a few more traditions that are
      particular to the Season of Advent.
</p>
<p>

</p>
<h2>Pray the St. Andrew Novena</h2>
<p>
      Typically, a novena is prayed for nine days. The word is derived from the Latin root <em>novem</em>. The St. Andrew Novena, however, goes a little longer than that. Beginning on the Feast of St. Andrew, which falls every year on the
      30<sup>th</sup> of December, the prayer is recited fifteen times each day all the way up until Christmas Eve. Through this prayer, we can teach our hearts and minds to focus on the real reason for the season: Our Lord Jesus Christ Himself.
</p>
<p>

</p>
<p>
      The St. Andrew Novena is prayed as follows:
</p>
<p>

</p>
<p>
      <span>
            “Hail and blessed be the hour and moment in which the Son of God was born of the Most Pure Virgin Mary, at midnight, in Bethlehem, in the piercing cold. In that hour vouchsafe, I beseech Thee, O my God, to hear my prayer and grant my desires,
            [<strong><em>here mention your request</em></strong>] through the merits of Our Saviour Jesus Christ, and of His blessed Mother. Amen.”
      </span>
</p>
<p>

</p>
<p>
      The best part of this prayer is that we can pray it anywhere. We need not be in front of an altar, or have a Rosary in our hand. All we need is the desire to be closer to the LORD.
</p>
<p>

</p>
<h2>Pray the Christmas Novena</h2>
<p>
      Unlike the St. Andrew Novena, the Christmas Novena is a nine day devotion and is much closer to Christmas Day. A quick Google search will provide a number of different Christmas Novena prayers. Here is one example:
      <a href="https://www.ewtn.com/catholicism/devotions/christmas-novena-276"> Christmas Novena by EWTN</a>. The Christmas Novena always begins on the 16<sup>th</sup> of December, and is prayed all the way up to the 24<sup>th</sup> of December.
      Each day reflects on a different theme surrounding the Nativity of Christ. What a beautiful way to ready ourselves for the birth of the Most Holy Son of God.
</p>
<p>

</p>
<p>
      Remember, novenas are really effective in bringing entire communities closer. Reach out to neighbours and friends on these days and organising evening prayers together.
</p>
<p>

</p>
<h2>Lighting the Advent Candles</h2>
<p>
      This is perhaps the most “Christmassy” tradition of all Advent Traditions. The Advent Candles, three purple and one rose in colour, represent the four weeks before Christmas. Each week, the family must light one candle while praying the Holy
      Rosary or the St. Andrew Novena together, and blow it off after prayers. On the first week, starting on Sunday, the family will light only one purple candle while praying. On the second week, the family will light two purple candles when
      praying. On the third week, the family will light the two purple candles and the rose candle. And of the fourth, the famil will light all four candles when praying. It is a beautiful way of praying together and growing deeper in love for one
      another, while meditating on the mystery of our Lord’s incarnation.
</p>
<p>

</p>
<p>
      There are many more Advent Traditions that we can follow, but these are the relatively easy ones to get started. Remember, Tradition, though it may seem unnecessary, it is what keeps our society afloat. Tradition is the manifestation of our
      Catholic Doctrine. And Catholic Doctrine is the gift that comes from the heart of Jesus Christ Himself.
</p>
<p>

</p>
<p>
      May our Lord Jesus Christ bless you all.
</p>
