body {
      padding: 90px 0px 20px 0px;
      /* background: url('../images/Analytics 003.png') */
}

.container-fluid {
    padding: 20px 45px 20px 45px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

.navbar {
      margin-bottom: 20px;
}

.navbar-brand {
      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: bold;
      line-height: 18px;
}

.navbar-default {
      font-family: 'Montserrat', sans-serif;
      background-color: #FFFFFF;
      border: 0px;
      border-color: transparent;
}

.navbar-default .navbar-brand {
      color: #D7B546;
}

.dropdown-header {
      padding: 5px 15px 5px 15px;
}

.navbar-default .navbar-nav>li>a {
      font-size: 14px;
}

.navbar-nav .open .dropdown-menu>li>a  {
      font-size: 14px;
      line-height: 16px;
}

@media (max-width: 1199.99px) {
      .container-fluid {
          padding: 20px 30px 0px 30px;
          margin-right: auto;
          margin-left: auto;
          background-color: #FFFFFF;
          width: 970px;
      }

      .navbar {
            margin-bottom: 20px;
      }

      .navbar-brand {
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: bold;
            line-height: 18px;
      }

      .navbar-default {
            font-family: 'Montserrat', sans-serif;
            background-color: transparent;
            border-color: transparent;
      }

      .navbar-default .navbar-brand {
            color: #D7B546;
      }

      .navbar-nav .open .dropdown-menu .dropdown-header {
            font-size: 12px;
            padding: 5px 15px 5px 15px;
      }

      .navbar-default .navbar-nav>li>a {
            font-size: 14px;
      }

      .navbar-nav .open .dropdown-menu>li>a  {
            font-size: 14px;
            line-height: 12px;
      }
}

@media (max-width: 991.99px) {
      .container-fluid {
          padding: 20px 30px 0px 30px;
          margin-right: auto;
          margin-left: auto;
          background-color: #FFFFFF;
          width: 750px;
      }

      .navbar {
            margin-bottom: 20px;
      }

      .navbar-header {
            margin: 0px 0px 20px 0px;
      }

      .navbar-brand {
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: bold;
            line-height: 18px;
      }

      .navbar-default {
            font-family: 'Montserrat', sans-serif;
            background-color: transparent;
            border-color: transparent;
      }

      .navbar-default .navbar-brand {
            color: #D7B546;
      }

      .navbar-nav .open .dropdown-menu .dropdown-header {
            font-size: 12px;
            padding: 5px 15px 5px 15px;
      }

      .navbar-default .navbar-nav>li>a {
            font-size: 14px;
      }

      .navbar-nav .open .dropdown-menu>li>a  {
            font-size: 14px;
            line-height: 12px;
      }
}


@media (max-width: 767px) {
      .container-fluid {
          padding: 0px 30px 0px 30px;
          margin-right: auto;
          margin-left: auto;
          background-color: transparent;
          width: 100%;
      }

      .navbar {
            margin-bottom: 20px;
      }

      .navbar-brand {
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: bold;
            line-height: 18px;
      }

      .navbar-default {
            font-family: 'Montserrat', sans-serif;
            background-color: #FFFFFF;
            border: 0px;
            border-color: transparent;
      }

      .navbar-header {
            padding: 20px 0px 0px 0px;
            border: 0px solid transparent;
      }

      .navbar-default .navbar-brand {
            color: #D7B546;
      }

      .navbar-default .navbar-collapse {
            padding: 0px 15px 0px 15px;
      }

      .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
            background-color: #FFFFFF;
      }

      .navbar-nav .open .dropdown-menu .dropdown-header {
            font-size: 12px;
            padding: 5px 15px 5px 15px;
      }

      .navbar-default .navbar-nav>li>a {
            font-size: 14px;
      }

      .navbar-nav .open .dropdown-menu>li>a  {
            font-size: 14px;
            line-height: 12px;
      }

}

@media (max-width: 320px) {
      body {
            padding-top: 20px;
            padding-bottom: 20px;
            /* background: url('../images/Analytics 003.png') */
      }

      .container {
            padding: 0px 10px 0px 10px;
      }

      .container-fluid {
          padding-right: 10px;
          padding-left: 10px;
          margin-right: auto;
          margin-left: auto;
          background-color: transparent;
      }

      .navbar {
            margin-bottom: 20px;
      }

      .navbar-brand {
            font-family: 'Montserrat Alternates', sans-serif;
            font-weight: bold;
            line-height: 18px;
      }

      .navbar-default {
            font-family: 'Montserrat', sans-serif;
            background-color: transparent;
            border-color: transparent;
      }

      .navbar-default .navbar-brand {
            color: #D7B546;
      }

      .navbar-default .navbar-nav>li>a {
            font-size: 14px;
      }

      .navbar-nav .open .dropdown-menu>li>a  {
            font-size: 14px;
            line-height: 12px;
      }

}
