{% load static %}
{% block head %}
{% endblock %}
<div class="row calendarRow">
      <div class="col-xs-3 calendarCellColumn firstColumn">
            {{ row.1 }}
      </div>
      <!-- <div class="col-xs-3 calendarCellColumn secondColumn mobileView">
            {{ row.3 }}
      </div> -->
      <div class="col-xs-3 calendarCellColumn secondColumn">
            {% if row.1 == "1st" or row.1 == "6th" %}
            {{ row.3 }}, {{ row.4 }} Day of {{ row.2 }}
            {% else %}
            <!-- {{ row.3 }}, {{ row.4 }} Day of {{ row.2 }} -->
            <a class="liturgyForTheDayLink" href="{% url 'liturgyfortheday' row.0 %}">{{ row.3 }}, {{ row.4 }} Day of {{ row.2 }}</a>
            {% endif %}
      </div>
      <div class="col-xs-3 calendarCellColumn thirdColumn">
            <!-- {% if row.7 == "" %}

            {% else %} -->
            <a class="liturgyForTheDayLink" href="{% url 'memorialfortheday' row.0 %}">{{ row.6 }}, {{ row.5 }}</a>
            <!-- {% endif %} -->
      </div>
</div>
