{% load static %}

.jumbotronBackground {
      background: linear-gradient( rgba(165, 55, 253, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1.0) ), url('{% static saint_background_image');
      background-size: cover;
      background-position: top;
      position: relative;
}
