{% load static %}
<!DOCTYPE html>
<!-- Static navbar -->
<nav class="navbar navbar-default">
      <div class="container-fluid">
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">avechristusrex.com</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                        <!-- <li class="inactive"><a href="#">Home</a></li> -->
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prayers <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                    <li class="dropdown-header">Learning to Pray</li>
                                    <li class="disabled"><a href="#">What is Prayer?</a></li>
                                    <li class="disabled"><a href="#">Common Prayers</a></li>
                                    <li class="disabled"><a href="#">Important Prayers</a></li>
                                    <li class="disabled"><a href="#">More...</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Christian Reading</li>
                                    <li class="disabled"><a href="#">Holy Scripture</a></li>
                                    <li class="disabled"><a href="#">Catechism of the Catholic Church</a></li>
                                    <li class="disabled"><a href="#">Book of the Week</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Devotions</li>
                                    <li class="disabled"><a href="#">Most Sacred Heart of Jesus</a></li>
                                    <li class="disabled"><a href="#">Divine Mercy</a></li>
                                    <li class="disabled"><a href="#">Most Holy Rosary</a></li>
                                    <li class="disabled"><a href="#">More...</a></li>
                                    <br>
                              </ul>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Liturgy <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                    <li class="dropdown-header">Missale Romanum</li>
                                    <li class="disabled"><a href="#">Extraordinary Form</a></li>
                                    <li class="disabled"><a href="{% url 'ordinaryform' %}">Ordinary Form</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Liturgy of the Hours</li>
                                    <li class="disabled"><a href="#">Matins</a></li>
                                    <li class="disabled"><a href="#">Lauds</a></li>
                                    <li class="disabled"><a href="#">Terce</a></li>
                                    <li class="disabled"><a href="#">Sext</a></li>
                                    <li class="disabled"><a href="#">None</a></li>
                                    <li class="disabled"><a href="#">Vespers</a></li>
                                    <li class="disabled"><a href="#">Compline</a></li>
                                    <br>
                              </ul>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sacraments <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                    <li class="dropdown-header">What are the Sacraments?</li>
                                    <li class="disabled"><a href="#">References in Scripture</a></li>
                                    <li class="disabled"><a href="#">History of Sacraments</a></li>
                                    <li class="disabled"><a href="#">The Church is Sacramental</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Sacraments of Initiation</li>
                                    <li class="disabled"><a href="#">What is the Rite of Christian Initiation?</a></li>
                                    <li class="disabled"><a href="#">Baptism</a></li>
                                    <li class="disabled"><a href="#">Confirmation</a></li>
                                    <li class="disabled"><a href="#">Eucharist</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Sacraments of Commitment</li>
                                    <li class="disabled"><a href="#">Holy Orders</a></li>
                                    <li class="disabled"><a href="#">Holy Matrimony</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Sacraments of Healing</li>
                                    <li class="disabled"><a href="#">Reconciliation</a></li>
                                    <li class="disabled"><a href="#">Anointing of the Sick</a></li>
                                    <br>
                              </ul>
                        </li>
                        <li class="dropdown last-dropdown disabled">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                    <br>
                              </ul>
                        </li>
                  </ul>
            </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
</nav>
