
{% load static %}
<!DOCTYPE html>
<div class="blogPostBody" style="position: relative;">
      <div class="shareOnSocialMedia">
            Share this article on:
      </div>
      <div class="shareButtons" style="position: inherit; text-align: center;">
            <div class="fb-share-button" data-href="https://www.avechristusrex.com/blog/{{ blog_tag }}" data-layout="" data-size="">
                  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
                        <span style="font-size: 1.5em; color: #555555;">
                              <i class="fa-brands fa-facebook fa-xl"></i>
                        </span>
                  </a>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="tw-share-button">
                  <a class="twitter-share-button"
                  href="https://twitter.com/intent/tweet?url=https://avechristusrex.com/blog/{{ blog_tag }}/&text={{ blog_tagline }}">
                        <span style="font-size: 1.5em; color: #555555;">
                              <i class="fa-brands fa-twitter fa-xl"></i>
                        </span>
                  </a>
            </div>
      </div>
</div>
